<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>超级课堂</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link href="css/app-common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
	<div class="listsection">		
		<ul class="list_ul">
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>
			<li>
				<a class="clearfix" href="">
					<img class="l-img" src="img/pro.jpg" alt="" />
					<div class="r-part">
						<h4>“第一届联合·6个展”</h4>
						<p class="intro">在这6位艺术家的作品中，每个人的创作趣味和审美经</p>
						<p class="tr">2015.11.01</p>
					</div>
				</a>
			</li>		
		</ul>
	</div>	
</div>
</body>
</html>